body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  background-color: orange;
  border-radius: 5px;
  padding: 0px;
  width: 426px;
}

h1 {
  margin-bottom: 20px;
  color: #333;
  background-color: orange;
}

form {
  background-color: rgb(8, 8, 82);
  color: yellow;
  padding-left: 30px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"],
select {
  width: 80%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="checkbox"] {
  margin-right: 5px;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  margin-right: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.sub {
  background-color: orange;
  padding-left: 50%;
  margin-left: -30px;
}

#dob-day {
  width: 30%;
}

#dob-month {
  width: 30%;
}

#dob-year {
  width: 30%;
}

button:hover {
  background-color: #45a049;
}

.cancelBtn {
  background-color: #f44336;
}

.cancelBtn:hover {
  background-color: #da3b33;
}

#male {
  display: inline;
}

#female {
  display: inline;
}

.error{
  color: red;
}

.focus{
  border: 1px solid red;
  background-color: antiquewhite;
}